/* Theme Styling */
  html, body {
    background-color: #42413D;
    height: 100%;
    margin: 0;
  }

/* Nav Styling */
  .nav-pill-active {
    font-weight: bold;
    color:#ffce2b !important;
  }

/* Footer Styling */
  footer {
    background-color: #42413D;
    color: #b2afac;
    text-align: center;
    border-top: 1px solid #b2afac;
    height: 70px;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
  }

  .main {
    min-height: 100%;
    margin-bottom: -70px;
  }
  .push {
    height: 70px;
  }